@import "tailwindcss";
@import "./root.css";
@import "./auth.css";
@import "./FooterLanding.css";
@import "./HeaderLanding.css";
@import "./Landing.css";
@import "./home.css";
@import "./HeaderHome.css";
@import "./FooterHome.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}