@import "tailwindcss";
@import "./root.css";
@import "./Auth.css";
@import "./FooterLanding.css";
@import "./HeaderLanding.css";
@import "./Landing.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}